.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 3rem; */
  color: white;
  padding: 1rem;
}

.title {
  font-weight: bolder;
  font-size: 1.6rem;
}

.page_nav {
  display: flex;
  gap: 2rem;
}
